<header class="app-header">

  <!-- LEFT -->
  <div class="left">
    <span class="brand">Staff Management System</span>

  </div>
  
  <!-- RIGHT -->
  <div class="right">
    <nav class="nav">
      <a *ngIf="!isEmployee" routerLink="/features/users"><i style="color: white;" class="pi pi-users"></i> Users</a>
      <a *ngIf="isEmployee" routerLink="/features/apply-leave"><i style="color: white;" class="pi pi-calendar"></i> Apply Leave</a>
    </nav>
    <!-- <input type="text" placeholder="Search..." /> -->

    <button class="logout-btn" (click)="logout()">
      <i class="pi pi-sign-out"></i>
    </button>
  </div>

</header>