<div class="auth-container">1
  <!-- LEFT SIDE -->
  <div class="auth-left">

    <div class="auth-card">

      <h1>Welcome back</h1>
      <p class="subtitle">Please enter your details</p>

      <div class="field">
        <span class="p-input-icon-left w-full">
          <i class="pi pi-user"></i>
          <input pInputText type="text" [(ngModel)]="username" placeholder="Enter email" style="width: 100%;">
        </span>
      </div>

      <div class="field">
        <span class="p-input-icon-left w-full">
          <i class="pi pi-lock"></i>
          <input pInputText type="password" [(ngModel)]="password" placeholder="Enter password" style="width: 100%;">
        </span>
      </div>

      <p-button label="Sign in" styleClass="login-btn" (onClick)="login()"></p-button>

    </div>

  </div>

  <!-- RIGHT SIDE -->
  <div class="auth-right">

    <img src="assets/images/login-illustration.svg" alt="illustration">

  </div>

</div>