@import "primeicons/primeicons.css";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: #d9d5d5;
}

.p-button:focus,
.p-button:enabled:focus {
  box-shadow: none !important;
  outline: none !important;
}