<div style="padding: 10px; margin: 25px;">
    <div style="display: flex; justify-content: space-between;">
        <h2 class="mb-3">{{ title }}</h2>
        <div class="flex justify-content-between mb-2">
            <button *ngIf="showLeaveList" pButton label="Leaves" [disabled]="!selectedRow" class="p-button-secondary"
                icon="pi pi-car" (click)="onActionClick('leave')"></button>
            <button *ngIf="showAttendance" pButton label="Attendance" [disabled]="!selectedRow" class="p-button-success"
                icon="pi pi-clock" (click)="onActionClick('attendance')" style="margin-left: 20px;"></button>
            <button *ngIf="crudConfig?.create" pButton label="Create" icon="pi pi-plus" (click)="onCreate()"
                style="margin-left: 20px;"></button>
        </div>
    </div>
    <p-table [value]="data" [loading]="loading" [paginator]="paginator" [rows]="rows" [responsiveLayout]="'scroll'"
        [style]="{'width': '100%'}">
        <!-- HEADER -->
        <ng-template pTemplate="header">
            <tr>
                <th *ngIf="showAttendance" style="width: 50px"></th>
                <th *ngFor="let col of columns" [style.width]="col.width"
                    [pSortableColumn]="col.sortable ? col.field : null">
                    {{ col.header }}

                    <p-sortIcon *ngIf="col.sortable" [field]="col.field"></p-sortIcon>
                </th>
                <th *ngIf="showActions">Actions</th>
            </tr>
        </ng-template>

        <!-- BODY -->
        <ng-template pTemplate="body" let-row>
            <tr style="margin-right: 0;">
                <td *ngIf="showAttendance">
                    <p-radioButton name="rowSelect" [value]="row" [(ngModel)]="selectedRow"></p-radioButton>
                </td>
                <td *ngFor="let col of columns">
                    {{ resolveField(row, col) }}
                </td>
                <td *ngIf="showActions" style="max-width: 180px; ">
                      <div class="action-cell">

                          <button *ngIf="crudConfig?.edit" pButton icon="pi pi-pencil" [outlined]="true" [rounded]="true" (click)="onEdit(row)"></button>
                          <button *ngIf="crudConfig?.delete" pButton icon="pi pi-trash" [outlined]="true" [rounded]="true" severity="danger" (click)="onDelete(row, $event)"></button>
                          <button *ngIf="crudConfig?.approve" pButton icon="pi pi-check" class="p-button-success p-button-rounded" (click)="approve.emit(row)"> Approve</button>
                          <button *ngIf="crudConfig?.reject" pButton icon="pi pi-times" class="p-button-danger p-button-rounded" (click)="reject.emit(row)"> Reject</button>
                        </div>
                </td>

            </tr>
        </ng-template>

        <!-- EMPTY -->
        <ng-template pTemplate="emptymessage">
            <tr>
                <td [attr.colspan]="columns.length" class="text-center">
                    No data available
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>